
  
  .nav-rectangle {
    display: none;
  }
  
  .nav-rectangle nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-rectangle nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  .nav-rectangle nav ul li:last-child {
    margin-right: 0; 
  }
  
  .nav-rectangle nav ul li a {
    color: white;
    text-decoration: none;
    margin-right: 25px;
  }
  
  .nav-rectangle nav ul li a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .nav-rectangle {
      display: block; 
      position: fixed;
      margin-right: 10px;
      margin-left: 10px;
      bottom: 20px;
      right: 5px;
      left: 5px;
      background-color: #25283b; 
      padding: 10px;
      border-radius: 20px;
    }

    .nav-rectangle nav ul li a {
      color: aqua;
      font-size: 20px;
    }
  }
  