/* Project Heading */
#projectHead {
  text-align: center; /* Center the heading */
  color: rgb(201, 207, 21);
  /* margin: 10px 0 90px; */
  font-size: 5.5rem; 
  padding: 30px;
}

/* Project Titles */
.projecth2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 3.5rem;
  line-height: normal;
  padding: 20px;
  margin-bottom: 50px;
  display: inline-block; 
}

@media (max-width: 768px) {
  .projecth2 {
    font-size: 1rem;
  }
}

/* Project Container */
.projectcontainer {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  margin: 0; 
  padding: 20px; 
}

/* Project Section */
#projectSection {
  background-color: #09092c;
  border-radius: 20px;
  padding: 20px;
  text-align: center; 
}

/* Project Cards */
.card {
  margin: auto;
  background-color: #25283b;
  color: white;
  border-radius: 10px; 
  width: 80%; 
  max-width: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  transform-style: preserve-3d;  
}

.card:hover {
  transform: translateY(-20px) ; 
  box-shadow:  0 0  20px 5px  aqua;
  cursor: pointer; 
}

.btn{
  color: black;
}

.card-body {
  width: 100%;
  text-align: center;
  font-size: 1.3rem; 
  padding: 20px;
  overflow: visible; 
}

@media (max-width: 768px) {
  .card {
    width: 100%; 
    margin-bottom: 20px; /* Reduced margin for better spacing on small screens */
  }

  #projectHead {
    font-size: 2rem; /* Adjusted font size for smaller screens */
    margin-bottom: 20px; 
  }
}
