.myContactPage {
    color: aqua;
    position: relative; 
    max-width: 50%;
  }

  .connectText{
    color: aqua;
  }

  .ContactImg{
    margin-right: 2%;
    min-height: 20px; 
     width: 20px;
  }

  .ContactIcon{
    margin-right: 2%;
    height: 25px;
    width: 25px;
    margin-right: 20px;
    color: aqua;
    margin-top: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }

  .ContactIcon:hover{
    transform: translateY(-10px);
    color: white;
  }
  
  .container{
    background-color: #09092c;
  }
  
  .contact-heading {
    margin-top: 0;
    color: white; 
  }

  .btn{
    background-color: aqua;
  }

  .btn:hover{
    background-color: rgb(4, 84, 84);
  }
  
  @media (max-width: 768px) {
   
    .mainDiv{
      display: block !important;
    }
    .innerSecDiv{
      flex: 2;
      display: none;
    }
  }