/* new about  */
.aboutContainer{
    max-height: auto;
    /* background-color: rgb(207, 229, 243); */
  }
  
  .about-text{
    text-align: center;
    color: aqua;
    font-size: 22px;
    line-height: 45px;
  }

  
  .aboutme span{
    color: rgb(230, 39, 25);
  }
  .aboutme{
    color: aqua;
    margin-top: 35px;
  }

  .social-icons {
    margin-top: 30px;
    display: flex; 
    margin-left: 300px;
    gap: 15px; 
}

.social-icons a:hover {
  color: aqua;
  transform: translateY(-10px);
}

.social-icons a {
    color: aqua;
 
}

.social-icons img, .social-icons .fa-icon {
    width: 40px; 
}
  
  @media (max-width: 768px) {
    .about-text{
      font-size: 17px;
      margin-top: 10px;
    }
    .aboutme{
        margin-top: 50px;
    }
    .img{
        margin-top: 80px;
    }
    .social-icons {
      margin-left: 100px;
    }
  }





/* education section */

#profile-container {
  display: flex;
  justify-content: center;


}

#education-card {
  display: flex;
  margin-top: 10px;
  min-width: 70%;
  margin-bottom: 40px;
  background-color: transparent;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: 3px solid rgb(173, 158, 158);
}

#info{
  padding: 50px;
  margin-left: 50px;
  font-size: 30px;
}

#name{
  font-size: 30px;
}




@media (max-width: 768px) {
  #education-card{
    padding: 0;
    margin-top: 10px;
    object-fit: cover;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: 3px solid rgb(173, 158, 158);
  }

  #education-card img {
    width: 100%; 
    height: auto; 
    object-fit: contain; 
  }

  #info{
    font-size: 18px;
  }

  #name{
    font-size: 18px;
  }
}

#activity{
  color: rgb(206, 184, 39);
}

.tagline{
  color: rgb(206, 184, 39);
}

/*  for more small screen users  */

@media (max-width: 400px) {
  #info{
    padding: 5px;
    font-size: 15px;
  }
  #name{
    font-size: 15px;
  }
}
