#NavPos {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(44, 47, 63, 0.8); 
  backdrop-filter: blur(10px); 
}

.navbar-brand{
  font-size: 50px;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
}

  
  .sameColor {
    color: #cccccc;
    font-weight: 500;
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg' width='30' height='30'%3E%3Cpath stroke='rgba(255,255,255,.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  .navLinksTag {
    color: white;
    font-size: 1.5rem;
    margin-right: 10px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  .navLinksTag:hover {
    background-color: #474a5b;
    border-radius: 12px;
    border: 2px solid wheat;
    color: white;
  }

  .myportfolioColor{
    color: rgb(206, 184, 39);
  }
  .myportfolioColor:hover{
    color: rgb(125, 109, 7);
  }

  .contactIcon{
    display: none;
  }
  
  @media (max-width: 767px) {
    .navbar-nav {
      width: 100%;
      text-align: center;
      margin-top: 10px;
    }
    .contactIcon {
      display: block;
      font-size: 1.5rem; 
      color: white;
      padding: 5px;
    }
  }