body {
    /* background-color: rgb(121, 109, 109); */
    /* background-color: rgb(130, 130, 130); */
    background-color:#09092c;
    /* background-color: #383232fa; */
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
  }